.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  background: #101010;
  font-family: 'Source Code Pro', Menlo, monospace;
  color: #eee;
}

h1 {
  font-size: 36pt;
  font-family: 'Alegreya', serif;
  font-weight: normal
}

h2 {
  font-size: 14pt;
  margin-bottom: 15%;
}

p {
  font-size: 14pt;
  margin-bottom: 15%;
}

a {
  color: #009dde;
  background-color: #fff;
  padding: 0.1em 0.4em;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin: 5px 0;
  padding: 5px 10px;
}

a:hover {
  background-color: #009dde;
  color: #fff;
}

#content {
  position: absolute;
  z-index: 2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
}

#content.invert>h1, #content.invert>h2 {
  color: #101010;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#grid {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 500px) {
  #grid {
    height: 100%;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

