.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  background: #111;
  font-family: 'Josefin Slab', serif;
  color: #dedede;
}

h1 {
  font-size: 36pt;
}

h1.secondary {
  font-size: 28pt;
}

h2 {
  font-size: 14pt;
  margin-bottom: 20%;
}

p {
  font-size: 14pt;
  margin-bottom: 20%;
  color: #ccc;
}

a {
  color: #111;
  background-color: #fff;
  padding: 0.1em 0.4em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

#mountain {
  opacity: 0.8;
}

#chart {
  position: absolute;
  top: 0%;
  z-index: 0;
}

#background-container {
  z-index: 1;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #110F0E;
  opacity: 0.5;
}

#content {
  width: 300px;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 15% auto 20px;
  padding-top: 170px;
  background-position: top center;
  background-repeat: no-repeat;
}

.social-footer {
  width: 100%;
  text-align: center;
}

.social {
  width: 34px;
  height: 34px;
  display: inline-block;
}

#github {
  background: url('../img/github.png') no-repeat;
  float: left;
}

#lin {
  background: url('../img/lin.png') no-repeat;
}

#pin {
  background: url('../img/pin.png') no-repeat;
  float: right;
}

#content.montagne0 {
  background-image: url('../img/montagne/0.png');
}

#content.montagne1 {
  background-image: url('../img/montagne/1.png');
}

#content.montagne2 {
  background-image: url('../img/montagne/0.png');
}

#content.montagne3 {
  background-image: url('../img/montagne/3.png');
  background-position: center 50px;
}

#content.montagne4 {
  background-image: url('../img/montagne/4.png');
}

#content.montagne5 {
  background-image: url('../img/montagne/5.png');
  background-position: center 50px;
}

#content.montagne6 {
  background-image: url('../img/montagne/6.png');
  background-position: center 40px;
}

#content.montagne7 {
  background-image: url('../img/montagne/0.png');
}

#content.montagne8 {
  background-image: url('../img/montagne/8.png');
}
