.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  background: #111;
  font-family: 'Josefin Slab', serif;
  color: #dedede;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 14pt;
  margin-bottom: 20%;
}

#mountain {
  opacity: 0.8;
}

#chart {
  position: absolute;
  top: 0%;
  z-index: 0;
}

#background-container {
  z-index: 1;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #110F0E;
  opacity: 0.5;
}

#content {
  width: 400px;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 15% auto 0;
}

.social {
  width: 34px;
  height: 34px;
  display: block;
  float: left;
  opacity: 0.5;
}

#github {
  background: url('../img/github.png') no-repeat;
  margin-left: 40px;
}

#lin {
  background: url('../img/lin.png') no-repeat;
  margin: 0 105px;
}

#pin {
  background: url('../img/pin.png') no-repeat;
  float: right;
  margin-right: 40px;
}
